footer {
  background-color: rgb(105, 86, 247);
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
  position: absolute;
  bottom: -1;

  &.nodata {
    bottom: 0;
  }
  h2 {
    color: white;
  }
  & .footer__socialNetworks {
    display: flex;
    justify-content: center;
    gap: 5%;
  }
}
